@import "tailwindcss";

body {
  font-family: sans-serif;
  line-height: 1.5;
}
main{
  min-height: 100dvh;
  position: relative;
  padding: 20px;
}


.spinner{
position: absolute;
z-index: 2;
transform: translate(50%, 50%);
top: 50%;
left: 50%;
}
.outlet{
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px gray;
}
.postDetails{
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap:20px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap:10px;
  
}
.galleryItem2{
  
  img{
    aspect-ratio: 4/3;
    width: 100%;
    height: 100%;
  }
}

.galleryItem{
  width: 400px;
  height: 400px;
  img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
}
header{
  padding: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.container{
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}


.global{
  text-decoration: underline;
}
.flex{
  justify-content: center;
  display: flex;
  gap:20px;
}
.header{
  background-color: teal;
  padding: 10px 20px;
  font-size: 1.5rem;
  color:white;
  font-weight: bold;
}
img {
  display: block;
  max-width: 100%;
}


.btn{
  padding: 10px 22px;
	border-radius: 4px;
	border: none;
	background-color: white;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
  font-size: 2.5rem;
  border: 1px solid black;

	&:hover {
		background-color: #091ec2;
		color: white;
	}
}
.parent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  margin: 40px;
  width: 50%;
  color: white;
  background-color: #091ec2;
}
.first{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: cornflowerblue;
  color: white;
  height: 200px;
  border-radius: 12px;
  padding: 20px;
}

.second{
  height: 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: green;
  padding: 20px;
  
}
.target{
  height: 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: orange;
  padding: 20px;

}